*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%) scale(0)!important;
  transition: 200ms ease-in-out!important;
  border: 1px solid #E0004D!important;
  border-radius: 25px!important;
  z-index: 10!important;
  background-color: #041E42!important;
  width: 400px!important;
  max-width: 80%!important;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1)!important;
}

.modal-header-ONM {
  padding: 10px 15px!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    border-bottom: 1px solid #E0004D!important;
    font-family: 'Open Sans', sans-serif!important;
    color: #FFF!important;
}

.modal-header-ONM .title-ONM {
  font-size: 1.25rem!important;
  font-weight: bold!important;
}

.modal-header-ONM .close-button {
  cursor: pointer!important;
  border: 1px solid white!important;
  border-radius: 13px!important;
  outline: none!important;
  background: none!important;
  font-size: 1.25rem!important;
  font-weight: bold!important;
  color: #FFF!important;
}
.modal-header-ONM #logotipo-ONM {
  padding: 20px!important;
  /*width: 80%;*/
}

.modal-body-ONM {
  padding: 20px 0px 35px 0px!important;
  color: #FFF!important;
  font-family: 'Open Sans', sans-serif!important;
  text-align: center!important;
}
.modal-body-ONM h1 {
  margin: 0px 0px 30px 0px!important;
}

.modal-body-ONM a {
  padding: 15px!important;
  border-radius: 25px!important;
  border: none!important;
  background: #E0004D!important;
  color: #FFF!important;
  font-weight: bold!important;
  margin: 15px 0 15px 0!important;
  text-decoration: none!important;
}

#overlay {
  position: fixed!important;
  opacity: 0!important;
  transition: 200ms ease-in-out!important;
  top: 0!important;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  background-color: rgba(0, 0, 0, .5)!important;
  pointer-events: none!important;
}

#overlay.active {
  opacity: 1!important;
  pointer-events: all!important;
}

@media only screen and (max-width: 600px) {
  .modal-header-ONM #logotipo-ONM {
  padding: 20px!important;
  width: 80%!important;
  }
}
@media only screen and (max-width: 370px) {
  .modal-body-ONM h1 {
    font-size: 1.4rem!important;
  }
}